$aside-width: 240px; // old
$side-menu-width: 250px; // new

$header-height: 55px;

$aside-icon-mode-width: 100px;

$default-font-size: 13px;

$border-style: 1px solid white - 30;
$dark-border-style: rgba(white, .1);

$body-bg-color: #eff2fa;
$body-bg-color-dark: #181b2e;

$body-bg-color-dark-light: $body-bg-color-dark + 10;

$default-text-color: black + 100;
$default-text-color-dark: white - 70;

$default-avatar-size: 3.3rem;

$element-focus-outline-opacity: .40;

$color-primary: #5d78ff;
$color-secondary: white - 150;
$color-success: #0abb87;
$color-info: #00bcd4;
$color-light: white - 25;
$color-danger: #ea4141;
$color-warning: #ff9d36;
$color-dark: #3a3f51;

$color-primary-bright: #c0c5e4;
$color-secondary-bright: #ededed;
$color-success-bright: #cef5ea;
$color-info-bright: #e1efff;
$color-danger-bright: #fcd0df;
$color-warning-bright: #ffe6cc;
$color-dark-bright: #d4d5d8;

$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-google: #db4437;
$color-pinterest: #bd081c;
$color-linkedin: #0077b5;
$color-tumblr: #35465c;
$color-instagram: #3f729b;
$color-dribbble: #ea4c89;
$color-youtube: #cd201f;
$color-whatsapp: #43d854;
$color-github: #00405d;
$color-behance: #1769ff;
$color-skype: #00aff0;
$color-yahoo: #410093;