.form-control, .custom-select {
   font-size: $default-font-size;
   &:focus {
      box-shadow: none;
      border-color: $color-primary + 30;
   }
}

.form-control {
   height: calc(1.5em + .75rem + 3px);
}

.form-rounded {
   border-radius: 50px;
}

.input-group-text {
   border: none;
}

textarea {
   min-height: 80px;
   max-height: 500px
}

.custom-file-input:focus~.custom-file-label {
   border-color: $color-primary + 30;
   box-shadow: none;
}

.custom-control-input {
   right: 0;
}

.custom-control-label {
   line-height: 25px;
}

/* Checkboxes and Radios */
.custom-checkbox, .custom-radio, .custom-switch {

   .custom-control-input:checked~.custom-control-label::before {
      border-color: $color-primary;
      background-color: $color-primary;
   }
   .custom-control-input:focus~.custom-control-label::before {
      box-shadow: 0 0 0 0.2rem rgba($color-primary, .30)
   }

   & .custom-control-input:not(:disabled):active~.custom-control-label::before {
      border-color: $color-primary + 50;
      background-color: $color-primary + 50;
   }

   &.custom-checkbox-secondary {
      .custom-control-input:checked~.custom-control-label::before {
         border-color: $color-secondary;
         background-color: $color-secondary;
      }
      .custom-control-input:not(:disabled):active~.custom-control-label::before {
         border-color: $color-secondary + 50;
         background-color: $color-secondary + 50;
      }
      .custom-control-input:focus~.custom-control-label::before {
         box-shadow: 0 0 0 0.2rem rgba($color-secondary, .30)
      }
   }
   &.custom-checkbox-success {
      .custom-control-input:checked~.custom-control-label::before {
         border-color: $color-success;
         background-color: $color-success;
      }
      .custom-control-input:not(:disabled):active~.custom-control-label::before {
         border-color: $color-success + 50;
         background-color: $color-success + 50;
      }
      .custom-control-input:focus~.custom-control-label::before {
         box-shadow: 0 0 0 0.2rem rgba($color-success, .30)
      }
   }
   &.custom-checkbox-danger {
      .custom-control-input:checked~.custom-control-label::before {
         border-color: $color-danger;
         background-color: $color-danger;
      }
      .custom-control-input:not(:disabled):active~.custom-control-label::before {
         border-color: $color-danger + 50;
         background-color: $color-danger + 50;
      }
      .custom-control-input:focus~.custom-control-label::before {
         box-shadow: 0 0 0 0.2rem rgba($color-danger, .30)
      }
   }
   &.custom-checkbox-warning {
      .custom-control-input:checked~.custom-control-label::before {
         border-color: $color-warning;
         background-color: $color-warning;
      }
      .custom-control-input:not(:disabled):active~.custom-control-label::before {
         border-color: $color-warning + 50;
         background-color: $color-warning + 50;
      }
      .custom-control-input:focus~.custom-control-label::before {
         box-shadow: 0 0 0 0.2rem rgba($color-warning, .30)
      }
   }
   &.custom-checkbox-info {
      .custom-control-input:checked~.custom-control-label::before {
         border-color: $color-info;
         background-color: $color-info;
      }
      .custom-control-input:not(:disabled):active~.custom-control-label::before {
         border-color: $color-info + 50;
         background-color: $color-info + 50;
      }
      .custom-control-input:focus~.custom-control-label::before {
         box-shadow: 0 0 0 0.2rem rgba($color-info, .30)
      }
   }
   &.custom-checkbox-dark {
      .custom-control-input:checked~.custom-control-label::before {
         border-color: $color-dark;
         background-color: $color-dark;
      }
      .custom-control-input:not(:disabled):active~.custom-control-label::before {
         border-color: $color-dark + 50;
         background-color: $color-dark + 50;
      }
      .custom-control-input:focus~.custom-control-label::before {
         box-shadow: 0 0 0 0.2rem rgba($color-dark, .30)
      }
   }
}

.custom-checkbox {
   &.custom-range-danger {
      &::before {
         background-color: $color-danger;
      }
      &::-webkit-slider-thumb:active {
         background-color: $color-danger + 50;
      }
   }
}

.custom-range {
   &::-webkit-slider-thumb {
      background-color: $color-primary;
   }
   &::-webkit-slider-thumb:active {
      background-color: $color-primary + 50;
   }
   &.custom-range-danger {
      &::-webkit-slider-thumb {
         background-color: $color-danger;
      }
      &::-webkit-slider-thumb:active {
         background-color: $color-danger + 50;
      }
   }
   &.custom-range-warning {
      &::-webkit-slider-thumb {
         background-color: $color-warning;
      }
      &::-webkit-slider-thumb:active {
         background-color: $color-warning + 50;
      }
   }
   &.custom-range-success {
      &::-webkit-slider-thumb {
         background-color:  $color-success;
      }
      &::-webkit-slider-thumb:active {
         background-color: $color-success + 50;
      }
   }
   &.custom-range-secondary {
      &::-webkit-slider-thumb {
         background-color:  $color-secondary;
      }
      &::-webkit-slider-thumb:active {
         background-color: $color-secondary + 50;
      }
   }
   &.custom-range-info {
      &::-webkit-slider-thumb {
         background-color:  $color-info;
      }
      &::-webkit-slider-thumb:active {
         background-color: $color-info + 50;
      }
   }
   &.custom-range-light {
      &::-webkit-slider-thumb {
         background-color:  $color-light;
      }
      &::-webkit-slider-thumb:active {
         background-color: $color-light + 50;
      }
   }
   &.custom-range-dark {
      &::-webkit-slider-thumb {
         background-color:  $color-dark;
      }
      &::-webkit-slider-thumb:active {
         background-color: $color-dark + 50;
      }
   }
}